/* Sticky Navigation Bar  */
#NavBar1 {
    position: sticky;
    top: 0;
    overflow:hidden;
    background-color: white;
    padding-left: 0;
}

#NavBar a {
    float: left;
    display: block;
    font-size: 28px;
    padding: 10px;
    text-decoration: none;
    color: black;
    position: center;
    margin-left: 0;
}

#NavBar a:hover {
    background-color: #182b49;
    color: white;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

/* Class for Section 1 and Section 3 */
.classSection1 {
    background-color: rgb(245, 240, 230);
    width: 100%;
    display: inline-block;
    scroll-margin: 136px;
    width: 100%;
}

/* Class for Section 2 */
.classSection2 {
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    color: white;
    width: 100%;
    display: inline-block;
    scroll-margin: 136px;
}

/* Section 3 content */
.wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.one {
    color: white;
    background-color: #182b49;
    max-height: 300px;
    overflow: scroll;
    padding: 15px;
    font-size: 20px;
}

/* Image in Section 1 */
#tritons {
    padding-left: 20px;
    max-width: 100%;
}

/* Image in Section 2 */
#colleges {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}

/* Section sub-headings */
h3 {
    padding-left: 20px;
}

/* Lorem Ipsum Paragraphs */
p {
    padding-left: 20px;
    font-size: 20px;
}

@media screen and (max-width: 50rem){

    /* Removing NavBar */
    #NavBar {
        display: none;
    }

    /* Setting Max-width of top logo */
    #logo {
        max-width: 75%;
    }

    /* Setting Header-font size */
    h3 {
        font-size: 24px;
    }

    /* Setting Paragraph text-font size */
    p {
        font-size: 20px;
    }

    /* Rearranging the grid */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #b1 {
        grid-column: 1;
        grid-row: 1;
    }
    #b2 {
        grid-column: 2;
        grid-row: 1;
    }
    #b3 {
        grid-column: 1;
        grid-row: 2;
    }
    #b4 {
        grid-column: 2;
        grid-row: 2;
    }
}